@import "blueprint/reset"; // This import applies a global reset to any page that imports this stylesheet.
@import "partials/base"; // To configure blueprint, edit the partials/base.sass file.
@import "blueprint"; // Import all the default blueprint modules so that we can access their mixins.
@import "blueprint/scaffolding"; // Import the non-default scaffolding module.
@import "compass/layout/sticky-footer";
@import "compass/css3/box-shadow";


$footer-height: 50px;
$header-height: auto;
$bar-color: #1F1F1F;


@include sticky-footer($footer-height, "#wrapper", "#push", "#footer-bar");
// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint


// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.
  @include blueprint-scaffolding; }

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  .container {
    @include container; }
  #header, #footer {
    color: white;
    @include column($blueprint-grid-columns); 
    h1 {
      color: white; } }
  #header-bar {
    height: $header-height; }
  #footer-bar {
    height: $footer-height; }
  #header-bar, #footer-bar {
    background: $bar-color; 
    @include single-box-shadow(rgba(0,0,0,0.5), 0, 0, 25px, 5px); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } }
