.container
  %header#header
    #logo
      %h1 Twitter Script
    #login
      -if signed_in?
        =link_to 'Sign out', signout_path
        -# =form_tag('sessions/destroy', :method => :delete) do
        -#   =submit_tag 'Sign out'
      -else
        =link_to 'Sign in with Twitter', sessions_path, :method => :post
        -# =form_tag('/sessions') do
        -#   =submit_tag 'Sign in with Twitter'
