%nav#sidebar
  = main_nav
  -# = link_to "Reciprocates", :controller => "reciprocates", :action=>"index"
  -# %ul
  -#   - %w(Reciprocates).each do |target|
  -#     %li= link_to target.humanize, :controller => target
    
